body,html{   
    background-image:url('https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;   
}
.Font{
    font-family: 'Pattaya', sans-serif;
    margin-top: 100px;
    font-size: 50px;
}
.Font1{
    font-family: 'Pattaya', sans-serif;
    
    font-size: 50px;
}
.infobox{
    width: 50%;
    margin:auto
}
.footer-text{
    font-size: 18px;
    font-family: 'Macondo',
    cursive;
}
.footer{
    margin-top: 300px;
}
.loginForm1{
    box-shadow:0 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 50px;
    border-radius: 50px;
    background-color: brown;
   


}
.Registerblock{
    margin: auto;
    width: 40%;
    align-items: center;
    background-color: brown;
    border-radius: 50px;
    
}
.register-box{
    align-items: center;
    margin-left: 65px;
}
.profile{
    width: 200px;
    height:200px;  
    margin-right: 20px;
    position: absolute;
    box-shadow:0 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: brown;
   
}
.profile_box{
   float: right;
   margin-top: 50px;  
   margin-right: 180px;
   
}
.title {
    text-align: center;
    width: 75%;
    margin: 16px auto;
    padding-top: 16px;
    border-bottom: 1px solid grey;
    position: static;
}
  
.para { 
    width: 75%;
    margin: 0 auto;
    margin-top: 5px;    
}
.blogCards{
    margin:10px; 
    border-radius: 5px;
    box-shadow:0 2px 2px 2px rgba(0, 0, 0, 0.5);
    width:400px;
    height:300px;
    float: left;
    background-color:brown;
}
.Footer{
  position: absolute;
  text-align: center;
}
.DeletIcon{
    float:right;
    margin-top: 150px;
    margin-right: 10px;
    cursor: pointer;
}
  
